* {
  box-sizing: border-box;
}

.container {
  width: 100vw;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
}

.header > h3 {
  margin-right: 30px;
}

.header > a {
  border: 1px solid rosybrown;
  border-radius: 5px;
  background-color: royalblue;
  color: white;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
}

